<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit non laborum labore aperiam reiciendis necessitatibus, animi omnis dignissimos odio voluptas?</p>
    </div>
</section>